In [12]:
import pandas as pd

# Fictional movie dataset
data = {
    'Title': ['The Last Stand', 'Mystic River', 'Skyfall', 'Silent Echo', 'Dark Horizon',
              'Ocean Breeze', 'Night Hunter', 'Crystal Dreams', 'Hidden Truth', 'Final Hour'],
    'Genre': ['Action', 'Drama', 'Action', 'Thriller', 'Sci-Fi',
              'Romance', 'Thriller', 'Fantasy', 'Drama', 'Action'],
    'Director': ['John Smith', 'Eva Green', 'Sam Mendes', 'David Lynch', 'Ridley Scott',
                 'Nancy Drew', 'David Lynch', 'Peter Jackson', 'Eva Green', 'James Cameron'],
    'Rating': [4.5, 4.2, 4.7, 4.0, 3.8, 4.3, 3.9, 4.1, 4.4, 4.6]
}

In [22]:
movies_df = pd.DataFrame(data)

movie_genre = movies_df['Genre'].to_list()
movie_directors = movies_df['Director'].to_list()

score = {title: 0 for title in movies_df['Title']}
genre = "Action" #input("Movie Genre: ")
director = "Eva Green" #input("Movie Director: ")

for id, row in movies_df.iterrows():
    movie_title = row['Title']
    
    if row['Genre'] == genre and row['Director'] == director:
        score[movie_title] = 2
    elif (row['Genre'] != genre and row['Director'] == director) or (row['Genre'] == genre and row['Director'] != director):
        score[movie_title] = 1
    else:
        score[movie_title] = 0
    
    movies_df['score'] = movies_df['Title'].map(score)


movies_df.sort_values(['score', 'Rating'], ascending=False).head(3)

            Title   Genre       Director  Rating  score
2         Skyfall  Action     Sam Mendes     4.7      1
9      Final Hour  Action  James Cameron     4.6      1
0  The Last Stand  Action     John Smith     4.5      1